body {
  font-size: 14px;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.navbar {
  background: var(--elements-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
}

.navbar__heading {
  font-size: 24px;
  font-weight: 800;
}

.navbar__theme-switcher {
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: inherit;
}

.theme-switcher__text {
  font-size: 15px;
  font-weight: 600;
}

.display {
  display: grid;
  grid-template-columns: repeat(4, 264px);
  gap: 74px;
  padding: 50px 80px;
}

.card {
  background: var(--elements-color);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  display: inline-block;
}

.card__flag {
  height: 160px;
  width: 264px;
  object-fit: cover;
}

.card__country-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  padding: 30px 25px 45px;
}

.card__country-name {
  font-size: 18px;
}

.card__country-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
}

.card__country-info span {
  font-weight: 800;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 80px;
  user-select: none;
}

.toolbar__search {
  background: var(--elements-color);
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 20px 32px;
}

.search__input {
  color: var(--text-color);
  background: none;
  border: none;
  width: 375px;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
}

.filter {
  display: flex;
  flex-direction: column;
  position: relative;
}

.filter__region-selector {
  background: var(--elements-color);
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 23px 25px;
}

.region-selector__text {
  width: 100px;
}

.filter__region-options {
  background: var(--elements-color);
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  padding: 20px 25px;
  position: absolute;
  top: 69px;
  width: 100%;
}

.region-options__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.region-options__list li {
  cursor: pointer;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  font-size: 16px;
  padding: 80px;
}

.panel__back-btn {
  background: var(--elements-color);
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: 12px 32px;
}

.panel__back-btn a {
  color: var(--text-color);
  display: flex;
  gap: 12px;
  text-decoration: none;
}

.panel__country {
 display: flex;
 gap: 145px;
}

.panel__country-flag {
  min-width: 560px;
  max-height: 400px
}

.panel__country-info {
  display: grid;
  grid-template: max-content 32px max-content 75px max-content  / auto auto;
  column-gap: 115px;
  padding: 50px 0;
}

.country-info__name {
  font-size: 30px;
  font-weight: 900;
  grid-row: 1;
  grid-column: span 2;
}

.country-info__geography {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-row: 3;
  grid-column: 1;
}

.country-info__geography span {
  font-weight: 600;
}

.country-info__misc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-row: 3;
  grid-column: 2;
}

.country-info__border-countries {
  display: flex;
  align-items: center;
  gap: 16px;
  grid-row: 5;
  grid-column: span 2;
}

.border-countires__heading {
  font-size: 16px;
  font-weight: 600;
}

.border-countries__list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, max-content);
  list-style: none;
  padding: 0;
}

.border-countries__list li {
  background: var(--elements-color);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  padding: 5px 10px;
  width: 100px;
}

.border-countries__list a {
  display: block;
  font-size: 14px;
}