body {
  font-size: 14px;
}

.navbar {
  background: var(--elements-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
}

.navbar__heading {
  font-size: 24px;
  font-weight: 800;
}

.navbar__theme-switcher {
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: inherit;
}

.theme-switcher__text {
  font-size: 15px;
  font-weight: 600;
}

.card {
  background: var(--elements-color);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  display: inline-block;
  max-width: 265px;
}

.card__country-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  padding: 30px 25px 45px;
}

.card__country-name {
  font-size: 18px;
}

.card__country-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
}

.card__country-info span {
  font-weight: 800;
}